<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HRM.WinServiceLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <HRM.WinServiceLibrary.Properties.Settings>
            <setting name="HRM_WinServiceLibrary_net_deescorp_auth_serviceauth"
                serializeAs="String">
                <value>http://auth.deescorp.net/api/serviceauth.asmx</value>
            </setting>
        </HRM.WinServiceLibrary.Properties.Settings>
    </applicationSettings>
</configuration>