@model HRM.Core.Model.VMShiftModel
@{
    ViewBag.Title = "HRMS - View User Shifts History";
    WebGrid grid = new WebGrid(Model.UserShiftList, canSort: true, canPage: false, rowsPerPage: 10);
}
<div class="page-box content-box mrg25B">
    <h3 class="content-box-header bg-blue text-left mrg25B"><i class="glyph-icon icon-table"></i>User Shifts History</h3>
    @using (Html.BeginForm("AssignHistory", "Shift", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "ShiftAssignHistoryForm", @class = "form-horizontal customclass" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        if (Model.UserShiftList != null && Model.UserShiftList.Count > 0)
        {
        @grid.GetHtml(htmlAttributes: new { id = "gridtbl" },
        tableStyle: "table table-striped table-hover datatable",
        headerStyle: "header",
        alternatingRowStyle: "alternating-row",
        rowStyle: "row-style",
        columns:
            grid.Columns(
                grid.Column("SNo", format: item => item.WebGrid.Rows.IndexOf(item) + 1),
                grid.Column("ShiftName", "Name", format: (item) => (item.Shift != null && item.Shift.Name != "") ? item.Shift.Name : Html.Raw("N/A")),
                grid.Column("EffectiveDate", header: "Effective Date", format: (item) => item.EffectiveDate != null ? string.Format("{0:dd-MMM-yyyy}", item.EffectiveDate) : Html.Raw("N/A")),
                grid.Column("RetiredDate", header: "Retired Date", format: (item) => item.RetiredDate != null ? string.Format("{0:dd-MMM-yyyy}", item.RetiredDate) : Html.Raw("N/A"))
                //grid.Column("OffDays", header: "Off Days", format: (item) => (item.Shift.OffDays != null && item.Shift.OffDays != "") ? item.Shift.OffDays : Html.Raw("N/A"))
                )
        )
        }
    }
</div>
